@{ 
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/index.css" rel="stylesheet" />
}
<div class="hero-image"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-md-5 bg-white text-center p-md-3" style="margin-top: -3rem;">
            <img id="ProfileImg" class="rounded-circle mb-2" src="~/Images/ProfilePic.jpeg" style="margin-top: -6rem;" />
            <h5>Ruben Morales Jr</h5>
            <p>.NET Full Stack Developer</p>
            <br/>
            <p><b>Email:</b>rmj1523@gmail.com</p>
            <p><b>other info:</b>info</p>
            <a href="#" style="color: black;">
                <span class="fa-stack" style="vertical-align: top;">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="row mx-auto mt-3">
        <div class="col-md-3 col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">UNCW Student Website</h5>
                </div>
                <div class="card-body">
                    <p>something about my student website</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Uni-SPIRE<br/>(Contract Work)</h5>
                </div>
                <div class="card-body">
                    <p>something about my student website</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">UNCW Student Website</h5>
                </div>
                <div class="card-body">
                    <p>something about my student website</p>
                </div>
            </div>
        </div>
    </div>
</div>
